html, body {
    height: 100%;
    box-sizing: border-box;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    color: #2f3035;
    font-family: sans-serif;
    overflow: hidden;
    background-color: rgba(205, 155, 28, 0.2);
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 190px;
}

.menu__list > li, .menu__list > a {
    display: inline-block;
    z-index: 999;
}

.menu__list li {
    position: relative;
}

.menu__list a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px 1.5rem;
    transition: background-color .22s ease, color .22s ease;
}


.menu__list a:hover {
    background-color: #f34949;
    color: #ffffff;
}

.menu__list--submenu {
    position: absolute;
    background-color: #1C62CD;
    width: 140px;
    left: 0;
    display: none;

}

.menu__list li:hover > .menu__list--submenu {
    display: block;
    animation: slideup .3s ease;
}

.menu__list--submenu-item {
    position: absolute;
    left: 100%;
    width: 140px;
    top: 0;
    background-color: #1C62CD;
    display: none;

}

.menu__list li:hover > .menu__list--submenu-item {
    display: block;
    animation: slideLeft .3s ease;

}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(18px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.user__list {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.user__list--item {

    padding-right: 10px;
}

.cart {
    position: relative;
}

.cart__num {
    position: absolute;
    font-size: 10px;
    line-height: 20px;
    font-weight: 500;
    width: 20px;
    height: 20px;
    color: #ffffff;
    background-color: #1C62CD;
    border-radius: 50%;
    text-align: center;
    bottom: -15px;
    right: -15px;

}

.content-section {
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner__section--inner {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.banner__section--slider {
    max-width: 870px;
    z-index: 9;
}

.banner__section--slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    cursor: pointer;
    color: #ffffff;
    font-size: 40px;
}

.banner__section--slider-btnprev {
    left: 20px;
}

.banner__section--slider-btnnext {
    right: 20px;
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 0 5px;
}

.slick-dots button {
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;;
    background-color: transparent;
}

.slick-active button {
    background-color: #fff;
}


.breadcrumbs {
    margin-bottom: 10px;
}

.breadcrumbs__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    color: #929292;
    font-size: 14px;
}

.breadcrumbs__list-item::after {
    content: '->';
    position: absolute;
    right: -10px;
}

.breadcrumbs__list-item:last-child::after {
    display: none;
}


.footer {
    background-color: #F0F0F4;
    min-height: 170px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer__inner {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.footer__form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.footer__form--input {
    background-color: #fff;
    border: none;
    font-size: 14px;
    padding: 0 12px;
}

.footer__form--input::placeholder {
    color: #1C62CD;
}

.footer__form--btn {
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #1C62CD;
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.12em;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
}

.form--title {
    font-size: 20px;
    margin-top: 50px;
}

.form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form form input {
    width: 200px;
    margin: 30px 0 0 30px;

}

.form form p {
    position: relative;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.form form input::placeholder {
    color: #1C62CD;
}

.form form label {
    position: absolute;
    left: 0;
}

.form form button {
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #1C62CD;
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.12em;
    margin: 20px 0 0 32px;
    cursor: pointer;
    border-radius: 10px;
}


/*//Products/
 */

.product__item--wrapper {
    position: relative;
    width: 271px;
}

.product__item {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all .4s;
    height: 100%;

}

.product__item--title {
    margin: 14px 0 25px;

}

.product__item--image {
    flex-grow: 1;
}

.product__item--image img {
    width: 100%;
}

.product__item--price {
    font-size: 30px;
}

.product__item--cart {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: #1C62CD;
    border-radius: 10px 0 0 0;
    bottom: 0;
    right: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product__item--hover-text {
    padding: 18px 21px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 30%;
    opacity: 0;
    transition: all .4s;
}

.product__item:hover .product__item--hover-text {
    opacity: 1;
    color: black;
}


.product__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    color: #1C62CD;
}

.catalog {
    margin-bottom: 50px;
}

.catalog__title {
    font-size: 30px;
    font-weight: bold;
}

.catalog__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.catalog__inner--list {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 50px;
}

.catalog__inner--list .product__item--wrapper {
    margin-bottom: 10px;
}

.product__item--img {
    max-width: 100%;
}

.pagination {
    width: 100%;
    margin-top: 10px;
}

.pagination__list {
    display: flex;
    justify-content: center;
}

.pagination__list--item {
    padding: 9px 15px;
    border: 2px solid transparent;
    margin: 0 10px;
    color: #C4C4C4;
    font-size: 18px;
}

.pagination__list--item.active {
    padding: 9px 15px;
    border: 2px solid #1C62CD;
    color: #1C62CD;
}

.pagination__list--item a {
    display: block;
}

.product__card--inner {
    display: grid;
    grid-template-columns: 6fr 6fr;

}

.product__card--img-box {
    width: 500px;
    padding-top: 60px;
    text-align: center;
}

.back__cart {
    margin-right: 300px;
    margin-bottom: 30px;
}
.back__cart:hover{
    color: #1C62CD;
}

.product__card--img-box img {
    width: 100%;
}

.product__card--price {
    font-size: 30px;
    font-weight: 500;
}

.product__card--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 400px;
    border-left: 1px solid #C4C4C4;
}

.product__card--img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.product__card--title {
    font-size: 30px;
    font-weight: 500;

}

.product__card--description {
    position: relative;
    padding-left: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
    overflow-y: auto;
}

.product__card--description span {
    position: absolute;
    left: 50px;
}

.product__card--btn {
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #1C62CD;
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.12em;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart__title {
    margin-bottom: 30px;
    font-size: 24px;
}

.cart__inner table {
    border: 1px solid #C4C4C4;
}

.cart__inner table tr td {
    border: 1px solid #C4C4C4;
}

.cart__inner table tr td {
    text-align: center;
    padding: 20px;
}

.cart__inner-title {
    margin-bottom: 100px;
    font-weight: 900;
}

.cart__inner-item + .cart__inner-item {
    margin-top: 20px;
}

.cart__inner-item img {
    width: 50px;
}

.cart__item-count {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    justify-items: center;
    align-items: center;
}

.cart__item-count button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: none;
    background-color: #1C62CD;
    color: #ffffff;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.cart__item-count button:hover {
    color: red;
}

.cart__footer {
    margin-top: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.cart__footer--info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__footer--info + .cart__footer--info {
    margin-top: 10px;
}

.cart__btn {
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    align-self: center;
    background-color: #1C62CD;
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.12em;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
}

.cart__btn:hover {
    opacity: .8;
}
