/*html, body {*/
/*    height: 100%;*/
/*}*/

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/


/*ul {*/
/*    list-style: none;*/
/*}*/

/*body {*/
/*    font-size: 1.6rem;*/
/*}*/

/*.main__container {*/
/*    position: relative;*/
/*    height: 100%;*/
/*}*/

/*.content-container {*/
/*    width: 100%;*/
/*    height: 700px;*/
/*}*/

/*.carousel {*/
/*    width: 1200px;*/
/*    height: 630px;*/
/*    margin: 0;*/
/*}*/

/*.carousel-item {*/
/*    position: relative;*/
/*    height: 730px;*/
/*}*/

/*!*HEADER*!*/
/*header {*/
/*    background-color: #2c3e50;*/
/*    height: 100px;*/
/*}*/

/*nav {*/
/*    max-width: 1100px;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.menu > li, .menu > a {*/
/*    display: inline-block;*/
/*}*/

/*.menu li {*/
/*    position: relative;*/
/*}*/

/*.menu a {*/
/*    text-decoration: none;*/
/*    color: #ffffff;*/
/*    display: block;*/
/*    padding: 10px 1.5rem;*/
/*    transition: background-color .22s ease, color .22s ease;*/
/*}*/


/*.menu a:hover {*/
/*    background-color: #f34949;*/
/*    color: #ffffff;*/
/*}*/

/*.submenu {*/
/*    position: absolute;*/
/*    background-color: #2c3e50;*/
/*    width: 140px;*/
/*    left: 0;*/
/*    display: none;*/

/*}*/

/*.menu li:hover > .submenu {*/
/*    display: block;*/
/*    animation: slideup .3s ease;*/
/*}*/

/*.submenu2 {*/
/*    position: absolute;*/
/*    left: 100%;*/
/*    width: 140px;*/
/*    top: 0;*/
/*    background-color: #2c3e50;*/
/*    display: none;*/

/*}*/

/*.menu li:hover > .submenu2 {*/
/*    display: block;*/
/*    animation: slideLeft .3s ease;*/

/*}*/

/*@keyframes slideup {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: translateY(18px);*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*        transform: none;*/
/*    }*/
/*}*/

/*@keyframes slideLeft {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: translateX(18px);*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*        transform: none;*/
/*    }*/
/*}*/

/*!*FOOTER*!*/
/*.footer {*/
/*    height: 120px;*/
/*    background-color: #2fff00;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*}*/